<p id="notice"><%= notice %></p>
<p>
  <strong>First Name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @owner.company_name %>
</p>

<%= link_to 'Back', new_owner_path %>
